/* .background-image {
  background-image: url("../images/tropicallogo.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  filter: brightness(70%);
} */

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
  --primary1: #fff;
  --primary2: #333;
}
.pagehome {
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  height: 50vh;
}

.content {
  height: 400px;
  background-color: var(--primary1);
  padding-top: 150px;
  margin-bottom: 0;
  border-radius: 10px;
  text-align: center;
  align-items: center;
  align-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 5px;
  background: var(--primary);
  color: #fff;
  font-weight: lighter;
  margin-top: 20px;
}

#file-upload {
  display: none;
}

.upload-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background: var(--primary);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.upload-button:hover {
  cursor: pointer;
}

.notification {
  color: var(--primary);
  font-size: 18px;
  margin-top: 10px;
}
